.toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
}

.toolbar .button {
  padding: 1em 1.5em;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.toolbar .button:hover {
  opacity: 0.8;
}

.toolbar .button:active {
  opacity: 0.3;
}

.toolbar .button.selected {
  border-bottom: 2px solid currentColor;
}

.ToolbarSeparator {
  width: 1px;
  background: rgba(0, 0, 0, 0.05);
  margin: 0.5em 0.5em;
}
