.form .row.buttons {
  display: flex;
  justify-content: space-around;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.form .row.buttons>.Icon {
  padding: 0.5em;
  cursor: pointer;
  font-size: 110%;
}

.form .row.buttons>.Icon:hover {
  opacity: 0.5;
}
