body {
  font-family: "Consolas";
}

#root, .App,
html, body {
  height: 100%;
  margin: 0;
}

body, textarea, .input {
  color: #32327f;
}

.alpha,
.beta {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
}

.App .content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-grow: 1;
}

.content textarea {
  background: rgba(0, 0, 0, 0.01);
  border: none;
  outline: none;
  padding: 1em;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.alpha {
  border-right: 5px solid rgb(245, 245, 245);
  width: 20em;
}

.beta {
  flex-grow: 1;
}

#svg {
  flex-grow: 1;
}

.tempScript {
  text-align: left;
  padding: 1em;
  color: rgb(181, 181, 181);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  min-height: 1em;
}

.tempScript pre {
  margin: 0;
  font-family: inherit;
}

.gamma {
  min-width: 14em;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.form .row {
  display: flex;
}

.form .row>label {
  min-width: 5em;
  font-weight: bold;
}

.form .row {
  margin: 1em;
}

.input-group {
  display: flex;
  max-width: 13em;
  overflow: hidden;
  justify-content: space-around;
  flex-grow: 1;
}

.named-input label {
  margin-right: 0.25em;
}

.named-input {
  margin-right: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group input {
  width: 3em;
}

svg text {
  user-select: none;
}
